@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "tailwindcss";

@theme {
  --color-homeBg: #fafaff;
  --color-homeBg2: #dadada;
  --color-greenBtn: #4CAF4F;
 --font-custom: "Montserrat", sans-serif;
   --color-medsos-hover: invert(50%) sepia(88%) saturate(2000%) hue-rotate(300deg) brightness(100%) contrast(95%);
}

.hover-medsos:hover {
  @apply transition duration-200;
  filter: var(--color-medsos-hover);
}
