@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "tailwindcss";

@theme {
  
  --color-homeBg: #fafaff;
  --color-homeBg2: #dadada;
  --color-homeBg3: #f5f9ff;
  --color-greenBtn: #4CAF4F;
  --color-fontProject: #222533;
  --color-divider: #51546b;
 --font-custom: "Montserrat", sans-serif;
   --color-medsos: brightness(0) saturate(100%) invert(96%) sepia(1%) saturate(0%) hue-rotate(154deg) brightness(87%) contrast(86%);
   --color-medsos-hover: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(5418%) hue-rotate(228deg) brightness(125%) contrast(71%);
   --color-grayy: brightness(0) saturate(100%) invert(40%) sepia(0%) saturate(3322%) hue-rotate(18deg) brightness(100%) contrast(86%);
   --color-img-white: brightness(0) saturate(100%) invert(100%) sepia(61%) saturate(2%) hue-rotate(200deg) brightness(109%) contrast(101%);
     --text-shadow-white: 0 0 12px white;
}


.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.img-white {
  filter: var(--color-img-white);
}

.group:hover .text-shadow-white-on-hover {
  text-shadow: var(--text-shadow-white);
  transition: .1s ease-in-out;

}
.group:hover .img-shadow-white-on-hover {
  filter: drop-shadow(0 0 5px white);
  transition: .1s ease-in-out;
}

.text-shadow-white {
  text-shadow: var(--text-shadow-white);
}

.whitee {
   filter: var(--color-medsos);
}
.grayy {
  filter: var(--color-grayy);
}

.hover-medsos {
  @apply transition duration-200;
  filter: var(--color-medsos);
}

.hover-medsos:hover {
  @apply transition duration-200;
  filter: var(--color-medsos-hover);
}

@keyframes float {
  0% {
    transform: translateY(0) scale(0.7);
    opacity: 0;
  }
  30% {
    transform: translateY(-70px) scale(0.8);
    opacity: 1;
  }
  70% {
    transform: translateY(0) scale(0.7);
    opacity: 0;

  }
}

.animate-float {
  animation: float 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  transform-origin: left;
}

